  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l3 s6">
          <h5 class="white-text">Résaux Sociaux</h5>
          <ul>
            <li><a class="white-text" href="#!"> <img src="../Logos/face.png" width="10px" height="10px"> Facebook</a></li>
            <li><a class="white-text" href="#!"><img src="../Logos/twitter.png" width="10px" height="10px"> Twitter</a></li>
            <li><a class="white-text" href="#!"><img src="../Logos/insta.png" width="10px" height="10px"> Instagram</a></li>
          </ul>
        </div>
        <div class="col l3 s6">
          <h5 class="white-text">Groupama</h5>
       <!-- Switch -->
  <div class="switch">
    <label>
      
      <input type="checkbox">
      <span class="lever"></span>
      Publie pour moi
    </label>
  </div>
         <!-- Switch -->
  <div class="switch">
    <label>
      
      <input type="checkbox">
      <span class="lever"></span>
      Tweet pour moi
    </label>
  </div>

         <!-- Switch -->
  <div class="switch">
    <label>
      
      <input type="checkbox">
      <span class="lever"></span>
      Partage pour moi
    </label>
  </div>

  </div>

          <div class="col l3 s6">
          <h5 class="white-text">Résaux Sociaux</h5>
          <ul>
            <li><a class="white-text" href="#!"> <img src="../Logos/face.png" width="10px" height="10px"> Facebook</a></li>
            <li><a class="white-text" href="#!"><img src="../Logos/twitter.png" width="10px" height="10px"> Twitter</a></li>
            <li><a class="white-text" href="#!"><img src="../Logos/insta.png" width="10px" height="10px"> Instagram</a></li>
            
          </ul>
        </div>
        <div class="col l3 s6">
          <h5 class="white-text">Groupama</h5>
       <!-- Switch -->
  <div class="switch">
    <label>
      
      <input type="checkbox">
      <span class="lever"></span>
      Publie sur le groupe
    </label>
  </div>
         <!-- Switch -->
  <div class="switch">
    <label>
      
      <input type="checkbox">
      <span class="lever"></span>
      Tweet sur le groupe
    </label>
  </div>

         <!-- Switch -->
  <div class="switch">
    <label>
    
      <input type="checkbox">
      <span class="lever"></span>
      Partage pour le groupe
    </label>
  </div>

  </div>

    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Equipe 1</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../view/js/materialize.js"></script>
  <script src="../view/js/init.js"></script>

  </body>
</html>
