  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>

        <p > <h1 id="voyageur" class="header center teal-text text-lighten-2">Le grand voyageur</h1> </p>
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
<!--
        <div class="row center">
         <button onclick="changement_nom()" id="download-button2" class="btn-large waves-effect waves-light teal lighten-1" > A mon tour ? </button>
        </div>
-->
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="../view/img/voyageur.png" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section"> 

      <!--   Icon Section   -->
      <div class="row">
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header"><i class="material-icons">place</i><img src="../Titres/titre_sante.png" style="width:254px;height:70px;"></div>
          <div class="collapsible-body"><span>
            <ul > <!--style="list-style-type: circle" -->
          <li>• Couverture prévoyance internationale </li>
          <li>• Rapatriement inclus </li>
          <li>• Garantie accident de la vie </li>
          <li>• Complémentaire santé avec prise en charge des vaccins </li>
          </ul>
          </span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">place</i><img src="../Titres/Titre-Lieux.png" style="width:254px;height:70px;"></div>
          <div class="collapsible-body"><span>
            <ul > <!--style="list-style-type: circle" -->
          <li>• Couverture prévoyance internationale </li>
          <li>• Rapatriement inclus </li>
          <li>• Garantie accident de la vie </li>
          <li>• Complémentaire santé avec prise en charge des vaccins </li>
          </ul>
          </span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">whatshot</i><img src="../Titres/Titre-Lifestyle.png" style="width:254px;height:70px;"></div>
          <div class="collapsible-body"><span>
          <ul > 
          <li>• Alimentation principalement en extérieur </li>
          <li>• Déplacements fréquents</li>
          <li>• Voiture en location</li>
          <li>• Abonnements</li>
          </ul>
          </span></div>
        </li>
       <li>
        
          <div class="collapsible-header"><i class="material-icons">filter_drama</i>
              <img src="../Titres/Titre-immo.png" style="width:254px;height:70px;">
              
          </div>
          <div class="collapsible-body">
              <span>
                  <ul > 
                  <li>• Mise en gestion du ou des bien(s) immobiliers</li>
                  <li>• Gestion locative</li>
                  <li>• Entretien, conciergerie</li>
                  <li>• Vente du ou des bien(s)</li>
                  </ul>
              </span>
           </div>
        </li>

      </ul>
      
      </div>

    </div>
  </div>

<div class="slider">
    <ul class="slides">
      <li>
        <img src="../view/img/1.png"> 
        <!--<div class="caption center-align">
          <h3>Bernard &amp; Giselle</h3>
          <h5 class="light grey-text text-lighten-3"><B> Voici où le couple à maintenant l'habitude de passer l'hiver </B></h5>
        </div>-->
      </li>
      <li>
        <img src="../view/img/2.png">
          <!--<h3>Lionel</h3>-->
          <!--<h5 class="light grey-text text-lighten-3"><B>Ce lieu qu'il n'aurait jamais songé visiter...</B></h5>-->
      </li>
      <li>
        <img src="../view/img/3.png"> <!-- random image -->
        <!--<div class="caption right-align">
          <h3>Vincent, Josiane, Philipe et Caroline</h3>
          <h5 class="light grey-text text-lighten-3"><B>Rencontrés grâce à leur profils similaires, ils partagent aujourd'hui leur passion pour les voyages en nature</B></h5>
        </div>-->
      </li>
      <li>
        <img src="../view/img/4.png">  
        <!-- <div class="caption center-align">
          <h3>Ludivine &amp; Jérôme &lt;3 </h3>
          <h5 class="light grey-text text-lighten-3"><B>Se retrouve au sein d'une passion commune</B></h5>
        </div> -->
      </li>
    </ul>

    <ul class="indicators">

    </ul>
  </div>
      
  <div class="container">
    <div class="section">
        <h3><i class="mdi-content-send brown-text"></i></h3>
          <div class="row center">
          <button onclick="changement_nom()" id="download-button2" class="btn-large waves-effect waves-light teal lighten-1" > A mon tour ! </button>
         </div>

      <div class="row">
        <div class="col l4">
          
         <div id="to_show" class="div-none">
            <ul >
          <li><div id="drag1" class="chip" draggable="true" ondragstart="drag(event)"> 
            Couverture internationale 
          </div></li>
          <li><div id="drag1" class="chip" draggable="true" ondragstart="drag(event)">
Rapatriement inclus</div></li>
         <li><div id="drag1" class="chip" draggable="true" ondragstart="drag(event)">
            Garantie accident de la vie
          </div></li>
          <li></li>
          <li><div id="drag1" class="chip" draggable="true" ondragstart="drag(event)">
Complémentaire santé(vaccins)</div></li>
          </ul>
        </div>
         
        </div>
          
          
          
          <div class="col l4">
         <div id="to_show" class="div-none">
            <ul >
          <li><div id="drag1" class="chip" draggable="true" ondragstart="drag(event)">
            Couverture prévoyance internationale 
          </div></li>
          <li><div id="drag1" class="chip" draggable="true" ondragstart="drag(event)">
Rapatriement inclus</div></li>
         <li><div id="drag1" class="chip" draggable="true" ondragstart="drag(event)">
            Garantie accident de la vie
          </div></li>
          <li></li>
          <li><div id="drag1" class="chip" draggable="true" ondragstart="drag(event)">
Complémentaire santé avec prise en charge des vaccins</div></li>
          </ul>
        </div>
         
        </div>
          
          
          <div class="col l4">
         <div id="to_show" class="div-none">
            <ul >
          <li><div id="drag1" class="chip" draggable="true" ondragstart="drag(event)">
            Couverture prévoyance internationale 
          </div></li>
          <li><div id="drag1" class="chip"draggable="true" ondragstart="drag(event)">
Rapatriement inclus</div></li>
         <li><div id="drag1" class="chip" draggable="true" ondragstart="drag(event)">
            Garantie accident de la vie
          </div></li>
          <li></li>
          <li><div id="drag1" class="chip" draggable="true" ondragstart="drag(event)">
Complémentaire santé avec prise en charge des vaccins</div></li>
          </ul>
        </div>
         
        </div>
          
      </    div>

    </div>
  </div>

<h4 class="tmp">Construisez votre retraite de rêve :</h4>
<div class="row">
    <div class="col l2"></div>
<div center class="col l8" id="box" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
<div class="col l2"></div>
</div>